* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    color: #000;
    margin: 20px 20px;
}

.navbar ul {
    display: flex;
    justify-content: left;
    align-items: center;
}

.navbar ul > li {
    list-style: none;
    padding: 1rem;
    font-size: 20px;
    font-weight: 700;
    margin: 0 5px;
}

.navbar ul > li:hover:not(.active) {
    cursor: pointer;
    background-color: #ccc;
    border-radius: 8px;
}

.active {
    background-color: #1392fd;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}
