* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.progress {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid #cecdcd;
    border-top: 20px solid red;
    transition: all 0.5s;
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
