* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    margin: 20px 20px;
    color: #000;
}

.navbar ul {
    display: block;
}

.navbar ul > li {
    list-style: none;
    padding: 1rem;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    margin: 10px 0;
}

.navbar ul > li:hover:not(.active) {
    cursor: pointer;
    background-color: #ccc;
}

.active {
    background-color: #1392fd;
    color: #fff;
    cursor: pointer;
}
