* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input-box {
    border: 1px solid #000;
    background-color: #ccc;
    height: 40vh;
    margin: 30px 30px;
}

.input-box label {
    margin: auto;
}

.input-box input {
    display: block;
    padding: 15px 12px;
    margin: 50px auto;
    width: 400px;
    border: none;
}

input::placeholder {
    font-weight: 700;
    font-size: 15px;
    color: blue;
}

input:focus {
    outline: 1px solid red;
}
