* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 30px 30px;
}

.container h1 {
    font-weight: 700;
    font-size: 40px;
}

.container p {
    margin: 20px 0;
}

button {
    background-color: red;
    border: none;
    padding: 1rem;
    color: #fff;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
}

.dark-mode {
    background-color: #000;
    color: #fff;
}
