* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bcbaba;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.audio {
    background-color: #f5f1f1;
    height: 20vh;
    padding: 2rem;
    border-radius: 12px;
}
