* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 30px 30px;
}

input[type="text"] {
    padding: 1rem;
    width: 300px;
    font-weight: 700;
    font-size: 15px;
}
