* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input[type="color"] {
    width: 100px;
}

input[type="color"]:hover {
    cursor: pointer;
}
