* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    height: 40vh;
    margin: 20px 20px;
}

.loader {
    background-color: #13a96f;
    border: none;
    color: #fff;
    padding: 20px 20px;
    font-size: 20px;
    border-radius: 10px;
}

.loader:hover {
    cursor: pointer;
    opacity: 0.9;
}

.loader .fa {
    margin: 0 10px;
}
