* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 50%;
}

.container img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: red;
    overflow: hidden;
    height: 0;
    width: 100%;
    transition: all 0.5s;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 30px;
    color: #fff;
}

.container:hover .overlay {
    height: 100%;
    top: 0;
}
