* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.line::before,
.line::after {
  content: "";
  width: 100%;
  background-color: red;
  padding: 2px;
}
