* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 30px 30px;
}

.blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.block-one {
    border: 2px solid red;
    padding: 1rem;
    width: 100%;
}

.block-two {
    border: 2px solid blue;
    padding: 1rem;
    width: 100%;
}
