* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    vertical-align: middle;
}

.number-text {
    position: absolute;
    padding: 1rem;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
}

.caption {
    position: absolute;
    bottom: 20px;
    padding: 1rem;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    width: 100%;
}

.dots {
    text-align: center;
    width: 100%;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: rgb(36, 36, 36);
    border-radius: 50%;
    border: 1px solid #000;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.active,
.dot:hover {
    background-color: red;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
