* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
}

.left,
.right {
    width: 50%;
    height: 100vh;
    position: relative;
}

.left {
    left: 0;
    background-color: #000;
}

.right {
    right: 0;
    background-color: red;
}

.centered img {
    border-radius: 50%;
    width: 200px;
    -webkit-user-select: none;
    user-select: none;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.centered h1,
p {
    margin: 20px 0;
}
