* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    margin: 20px 20px;
    line-height: 2;
}

button {
    background-color: red;
    border: none;
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
    font-weight: 700;
    margin: 20px 20px;
    width: 150px;
}

button:hover {
    cursor: pointer;
}

.dark-mode {
    background-color: #000;
    color: #fff;
}
